.header-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 2px -2px;
  align-items: center;
  justify-content: space-around;
  /* height: 50px; */
  padding: 8px;
}

.logo-image img {
  width: 200px;
}
.most-searched {
  display: flex;
  gap: 16px;
  font-size: 11px;
}

.actions {
  display: flex;
  gap: 32px;
}

.actions span {
  cursor: pointer;
}
